body {
  font-family: Roboto "Sans Serif" Serif;
  font-size: 18px;
  color: #666666;
}

h3 {
  color: #004a8d
}

#login-esquerda {
  background: url('https://apsweb.senacrs.com.br/resource/imagens_login/imagemUm.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}

#titulo-login {
  color: #004a8d;
  font-size: 52px;
  font-weight: bold;
}

.cor-laranja {
  color: #f7941e !important;
}

.form-field {
  height: 100%;
  box-shadow: 0 0 25px -1px #888;
  border: 1px solid #e5e5e5;
  padding: 23px;
}

.form-field:focus-within {
  border-left: solid #f7931d;
}

.form-field.invalid {
  border-bottom: solid #FF4949;
}

.form-field i {
  float: right;
  padding: 5px 5px 0 0;
  color: #666666;
}

.form-input {
  border: none;
  width: 90%;
  color: #666666;
}

.form-input:focus {
  outline: none;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

#acoes-login {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
}

#lbl-lembrarme {
  font-weight: normal;
  display: inline;
  margin-bottom: 0;
}

#esqueci-senha {
  color: #f7941e;
}

#msg-erro {
  color: red;
  font-size: 13px;
}

.btn-form {
  border-radius: 0;
  width: 180px;
  height: 62px;
  font-size: 22px;
  border: none;
  background-color: #f7941e;
  background-image: -webkit-linear-gradient(#f7941e, #f7b21e);
  background-image: -o-linear-gradient(#f7941e, #f7b21e);
  background-image: linear-gradient(#f7941e, #f7b21e);
  text-transform: uppercase;
  font-weight: bolder;
}

.btn-form:hover {
  background-image: linear-gradient(#f7b21e, #f7941e);
  background-image: -webkit-linear-gradient(#f7b21e, #f7941e);
  background-image: -o-linear-gradient(#f7b21e, #f7941e);
}

#form-esqueci-senha,
#form-logins-armazenados {
  display: none;
}

.click,
.click:hover {
  cursor: pointer;
  background-color: #fff;
}

.hiperlink-login {
  color: #666666;
  font-size: 13px;
}

.x-window-tl,
.x-window-tr,
.x-window-tc,
.x-window-ml,
.x-window-mr,
.x-window-mc,
.x-window-bl,
.x-window-br,
.x-window-bc {
  background-image: none !important;
  background: #eeeeee !important;
}

.x-window {
  border: 1px solid #bfbfbf;
}

.x-window-header-text {
  color: #000000 !important;
}

.x-window-tl .x-window-header {
  color: #000000 !important;
}

.x-window-mc {
  border: none !important;
  background: #eeeeee !important;
}

.x-window-plain,
.x-window-body {
  border-left: 1px solid #e6e6e6 !important;
  border-top: 1px solid #e6e6e6 !important;
  border-bottom: 1px solid #eee !important;
  border-right: 1px solid #eee !important;
  background: transparent !important;
}

.x-progress-bar {
  height: 18px !important;
  background: #004a8d !important;
  ;
  border-top: 1px solid #000000 !important;
  ;
  border-bottom: 1px solid #000000 !important;
  ;
  border-right: 1px solid #000000 !important;
  ;
}

.x-window-dlg .x-progress-wrap {
  width: 100% !important;
}

.x-grid-group-hd div {
  color: #000000 !important;
}

.x-date-mp-ybtn a {
  background: transparent url(../../resource/extjs/images/default/panel/tool-sprites-grey.gif) no-repeat;
}

td.x-date-mp-month a:hover,
td.x-date-mp-year a:hover {
  background: #eee !important;
}

.x-date-inner a:hover,
.x-date-inner .x-date-disabled a:hover {
  background: #eee !important;
}

.x-panel-body-noheader {
  border-top: none !important;
}

.x-panel-body {
  border: none !important;
}

.ext-mb-text {
  color: #000;
  font-size: 12px;
}

.container{
  width: 550px;
  background: white;
  padding-top: 20px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 10px;
  left: 50px;
  border:solid 1px;
  border-color:#bfbfbf;
}

.titulo{
  font-size: 35px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 30px;
}